*.swp
artifacts/
__pycache__/
.venv/
*/__pycache__
*.pyc
random_search_configs/
*.yaml
*.png
!original_ohio_experiments_60min/
!original_ohio_experiments_60min/*.yaml
!original_diatrend_experiments_60min/
!original_diatrend_experiments_60min/*.yaml
!original_t1dexi_experiments_60min/
!original_t1dexi_experiments_60min/*.yaml


!original_vandoorn_experiments/
!original_vandoorn_experiments/*.yaml
!vandoorn_diatrend_experiments_30min/
!vandoorn_diatrend_experiments_30min/*.yaml
!vandoorn_t1dexi_experiments_30min/
!vandoorn_t1dexi_experiments_30min/*.yaml